@import "styles/config";
@import "styles/projects";
@import "styles/categories";
@import "styles/forms";

header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.hidden {
  display: none;
}
.completed {
  display: flex;
}

button:hover {
  cursor: pointer;
}
.selected {
  font-weight: 800;
}
