* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

button:hover {
  cursor: pointer;
}

.projects-container {
  grid-column: 2/span 3;
}

.dropdown-list {
  display: flex;
  justify-content: center;
  width: 60%;
}
.dropdown-list p {
  font-size: 1rem;
}
.dropdown-list select {
  margin-left: 5px;
}

.projects {
  list-style: none;
  padding: 10px;
}

li {
  border-bottom: 1px solid #808080;
  display: flex;
  width: 80%;
}
li div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
li .desc {
  opacity: 70%;
}
li * {
  margin: 10px 0;
}
li input {
  align-self: center;
  margin-left: 10px;
}

.clicked {
  opacity: 50%;
}

.date-tag-container * {
  grid-column: span 1;
}
.date-tag-container-dagsetning {
  grid-column-start: 1;
  opacity: 70%;
}
.date-tag-container-category {
  grid-column-start: 5;
}
.date-tag-container-tag {
  background: inherit;
  border: 0;
  font-size: clamp(1vw, 1rem, 1rem);
  max-width: 100%;
  overflow: hidden;
}

.modify-project-button {
  background: inherit;
  border: 0;
  margin-left: 10px;
  transition: 0.1s;
  width: 90%;
}

.modify-project-button:hover {
  background: #ddd;
  cursor: pointer;
  padding-left: 10px;
  transition: 0.2s;
}

.new-project-div {
  align-items: center;
  display: flex;
  padding-top: 10px;
}
.new-project-div button {
  background: #fff;
  border-radius: 10px;
  color: #000;
  font-size: 1.2rem;
  padding: 5px 0;
  transition: 0.1s;
  width: 30%;
}
.new-project-div button:hover {
  background: #000;
  color: #fff;
  transition: 0.2s;
}

@media (max-width: 1000px) {
  li {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .projects-container {
    display: grid;
    grid-column: span 4;
    grid-template-columns: repeat(1, 1fr);
  }

  .projects {
    grid-column: span 1;
  }

  .dropdown-list {
    grid-column: span 1;
    width: 100%;
  }

  .date-tag-container-tag {
    font-size: 0.6rem;
  }
}
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 80%;
}

.category-container {
  display: flex;
  justify-content: space-between;
}
.category-container * {
  padding: 10px 0 5px;
}
.category-container p {
  font-size: 1.25em;
}

.header-tag {
  padding-top: 10%;
}

.project-tags * {
  padding-bottom: 5px;
}

.project-categories * {
  padding-bottom: 5px;
}

a {
  color: #000;
  font-size: 1.25em;
  text-decoration: none;
}

.project-count,
.unfinished-count {
  font-size: 1.25em;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .category-container {
    border: 0;
  }
}
@media (max-width: 700px) {
  .container {
    gap: 10px;
    grid-column: span 3;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }
  .container .category-container {
    border: 0;
  }
  .container .all-finished-projects {
    grid-column: span 4;
  }
  .container .project-categories {
    grid-column: span 2;
  }
  .container .project-tags {
    grid-column: span 2;
  }
}
.new-project {
  padding: 10px 10px 10px 0;
}

fieldset {
  border: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
fieldset .title-container {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  padding: 10px 10px 10px 0;
  width: 60%;
}
fieldset .desc-container {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  padding: 10px 10px 10px 0;
  width: 60%;
}
fieldset .date-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}
fieldset .prio-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}
fieldset .tag-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}
fieldset .cat-container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 0;
}
fieldset .buttons-container {
  display: grid;
  gap: 10px;
  grid-column: span 2;
  grid-template-columns: repeat(2, 1fr);
}
fieldset input {
  font-size: 1rem;
  padding: 5px;
}
fieldset p {
  font-size: 1.2rem;
}
fieldset label {
  font-size: 1.2rem;
}
fieldset .description {
  padding-bottom: 30px;
}
fieldset .mod-description {
  padding-bottom: 30px;
}

.button-style {
  display: flex;
  padding: 10px 10px 10px 0;
}
.button-style button {
  background: #fff;
  border-radius: 999px;
  color: #000;
  font-size: 1.2rem;
  padding: 5px 0;
  transition: 0.1s;
  width: 60%;
}
.button-style button:hover {
  background: #000;
  color: #fff;
  transition: 0.2s;
}
.button-style p {
  margin-left: 5px;
}

.pointer:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .new-project h2 {
    padding: 10px;
  }

  .modify-project h2 {
    padding: 10px;
  }

  fieldset .title-container {
    padding: 10px;
    width: 80%;
  }
  fieldset .desc-container {
    padding: 10px;
    width: 80%;
  }
  fieldset .date-container {
    padding: 10px;
  }
  fieldset .prio-container {
    padding: 10px;
  }
  fieldset .tag-container {
    padding: 10px;
  }
  fieldset .cat-container {
    padding: 10px;
  }

  .button-style {
    padding: 10px;
  }
  .button-style button {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .new-project h2 {
    padding: 10px;
  }

  .modify-project h2 {
    padding: 10px;
  }

  fieldset .title-container {
    padding: 10px;
    width: 100%;
  }
  fieldset .desc-container {
    padding: 10px;
    width: 100%;
  }
  fieldset .date-container {
    padding: 10px;
  }
  fieldset .prio-container {
    padding: 10px;
  }
  fieldset .tag-container {
    padding: 10px;
  }
  fieldset .cat-container {
    padding: 10px;
  }

  .button-style {
    padding: 10px;
  }
  .button-style button {
    font-size: 0.98rem;
    width: 100%;
  }
}
.dropdown-menu {
  grid-column: 2/span 2;
  padding: 10px;
}

.hidden {
  display: none;
}

.completed {
  display: flex;
}

.selected {
  font-weight: 800;
}

@media (min-width: 700px) {
  .dropdown-menu {
    display: none;
  }
}
header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

/*# sourceMappingURL=styles.css.map */
