@import 'styles/config';
@import 'styles/projects';
@import 'styles/categories';
@import 'styles/new-project';

header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.dropdown-list {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}
.completed{
  display: flex;
}