header {
  display: flex;
  justify-content: center;
}
main {
  display: grid;
  grid-template-columns: 40% 60%;
}
.category__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
.dropdown__list {
  display: flex;
}
.container {
  margin-right: 2em;
}
