.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 80%;
}

.category-container {
  display: flex;
  justify-content: space-between;

  * {
    padding: 10px 0 5px;
  }

  p {
    font-size: 1.25em;
  }
}

.header-tag {
  padding-top: 10%;
}

.project-tags {
  * {
    padding-bottom: 5px;
  }
}

.project-categories {
  * {
    padding-bottom: 5px;
  }
}

a {
  color: #000;
  font-size: 1.25em;
  text-decoration: none;
}

.project-count,
.unfinished-count {
  font-size: 1.25em;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .category-container {
    border: 0;
  }
}

@media (max-width: 700px) {
  .container {
    gap: 10px;
    grid-column: span 3;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;

    .category-container {
      border: 0;
    }

    .all-finished-projects {
      grid-column: span 4;
    }

    .project-categories {
      grid-column: span 2;
    }

    .project-tags {
      grid-column: span 2;
    }
  }
}
