.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.category-container {
    display: flex;
    justify-content: space-between;
    
    * {
        padding-bottom: 5px;
    }
    p{
        font-size: 1.25em;
    }
}

.header-tag {
    padding-top: 10%;
}

.project-tags {
    
    * {
        padding-bottom: 5px;
    }
}

.project-categories {
    
    * {
        padding-bottom: 5px;
    }
}
a{
    color: #000;
    text-decoration: none;
    font-size: 1.25em;
}
.project-count,
.unfinished-count{
    font-size: 1.25em;
}
@media (max-width:1000px) {
    .container {
        width: 100%;
    }
}