.new-project {
  padding: 10px 10px 10px 0;
}

fieldset {
  border: 0;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);

  .title-container {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    padding: 10px 10px 10px 0;
    width: 60%;
  }

  .desc-container {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    padding: 10px 10px 10px 0;
    width: 60%;
  }

  .date-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
  }

  .prio-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
  }

  .tag-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
  }

  .cat-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
  }

  .buttons-container {
    display: grid;
    gap: 10px;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
  }

  input {
    font-size: 1rem;
    padding: 5px;
  }

  p {
    font-size: 1.2rem;
  }

  label {
    font-size: 1.2rem;
  }

  .description {
    padding-bottom: 30px;
  }

  .mod-description {
    padding-bottom: 30px;
  }
}

.button-style {
  display: flex;
  padding: 10px 10px 10px 0;

  button {
    background: #fff;
    border-radius: 999px;
    color: #000;
    font-size: 1.2rem;
    padding: 5px 0;
    transition: 0.1s;
    width: 60%;
  }

  button:hover {
    background: #000;
    color: #fff;
    transition: 0.2s;
  }

  p {
    margin-left: 5px;
  }
}

.pointer:hover {
  cursor: pointer;
}

@media (max-width: 1000px) {
  .new-project {
    h2 {
      padding: 10px;
    }
  }

  .modify-project {
    h2 {
      padding: 10px;
    }
  }

  fieldset {
    .title-container {
      padding: 10px;
      width: 80%;
    }

    .desc-container {
      padding: 10px;
      width: 80%;
    }

    .date-container {
      padding: 10px;
    }

    .prio-container {
      padding: 10px;
    }

    .tag-container {
      padding: 10px;
    }

    .cat-container {
      padding: 10px;
    }
  }

  .button-style {
    padding: 10px;

    button {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .new-project {
    h2 {
      padding: 10px;
    }
  }

  .modify-project {
    h2 {
      padding: 10px;
    }
  }

  fieldset {
    .title-container {
      padding: 10px;
      width: 100%;
    }

    .desc-container {
      padding: 10px;
      width: 100%;
    }

    .date-container {
      padding: 10px;
    }

    .prio-container {
      padding: 10px;
    }

    .tag-container {
      padding: 10px;
    }

    .cat-container {
      padding: 10px;
    }
  }

  .button-style {
    padding: 10px;

    button {
      font-size: 0.98rem;
      width: 100%;
    }
  }
}
