.new-project {
  padding: 10px 10px 10px 0;
}

fieldset {
  border: none;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);

  .title-container {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    width: 60%;
    padding: 10px 10px 10px 0;
  }

  .desc-container {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    width: 60%;
    padding: 10px 10px 10px 0;
  }

  .date-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
  }

  .prio-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
  }

  .tag-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
  }

  .cat-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0;
  }

  .buttons-container {
    display: grid;
    gap: 10px;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
  }

  input {
    padding: 5px;
    font-size: 1rem;
  }

  p {
    font-size: 1.2rem;
  }

  label {
    font-size: 1.2rem;
  }

  .description {
    padding-bottom: 30px;
  }

  .mod-description {
    padding-bottom: 30px;
  }
}

.button-style {
  display: flex;
  padding: 10px 10px 10px 0;

  button {
    font-size: 1.2rem;
    background: #0A66C2;
    border: 0;
    border-radius: 999px;
    width: 60%;
    color: #ffffff;
    padding: 5px 0;
    transition: 0.1s;
  }

  button:hover {
    background: black;
    color: white;
    transition: 0.2s;
  }

  p {
    margin-left: 5px;
  }
}

.pointer:hover {
  cursor: pointer;
}
