.dropdown-menu {
  grid-column: 2/ span 2;
  padding: 10px;
}

.hidden {
  display: none;
}

.completed {
  display: flex;
}

.selected {
  font-weight: 800;
}

@media (min-width: 701px) {
  .dropdown-menu {
    display: none;
  }
}
