.new-project {
    padding: 10px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;

    p {
        padding-bottom: 5px;
    }

    input {
        width: 50%;
        padding: 5px 0;
        margin-bottom: 10px;
    }
}

.button-style {
    display: flex;
    align-items: center;

    button {
        font-size: 1rem;
        font-weight: 700;
        padding: 0;
        border-radius: 10px;
        width: 2%;
        background-color: white;
        color: rgb(88, 14, 14);
    }

    button:hover {
        background-color: rgb(88, 14, 14);
        color: white;
        transition: 0.3s;
    }

    p {
        padding: 0 10px;
    }
}