.projects-container {
  grid-column: 2 / span 2;
}

.dropdown-list {
  display: flex;
  justify-content: center;
  width: 60%;

  p {
    font-size: 1rem;
  }

  select {
    margin-left: 5px;
  }
}

.projects {
  list-style: none;
  padding: 10px;
}

li {
  border-bottom: 1px solid #808080;
  display: flex;
  width: 60%;

  div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .desc {
    opacity: 70%;
  }

  * {
    margin: 10px 0;
  }

  input {
    align-self: center;
    margin-left: 10px;
  }
}

.clicked {
  opacity: 50%;
}

.date-tag-container {
  * {
    grid-column: span 1;
  }

  &-dagsetning {
    grid-column-start: 1;
    opacity: 70%;
  }

  &-category {
    grid-column-start: 5;
  }

  &-tag {
    background: inherit;
    border: 0;
    font-size: clamp(1vw, 1rem, 1rem);
    max-width: 100%;
  }
}

.modify-project-button {
  background: inherit;
  border: 0;
  margin-left: 10px;
  transition: 0.1s;
  width: 90%;
}

.modify-project-button:hover {
  background: #ddd;
  cursor: pointer;
  padding-left: 10px;
  transition: 0.2s;
}

.new-project-div {
  align-items: center;
  display: flex;
  padding-top: 10px;

  button {
    background: #fff;
    border-radius: 10px;
    color: #000;
    font-size: 1.2rem;
    padding: 5px 0;
    transition: 0.1s;
    width: 30%;
  }

  button:hover {
    background: #000;
    color: #fff;
    transition: 0.2s;
  }
}

@media (max-width: 1000px) {
  li {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .projects-container {
    display: grid;
    grid-column: span 3;
    grid-template-columns: repeat(1, 1fr);
  }

  .projects {
    grid-column: span 1;
  }

  .dropdown-list {
    grid-column: span 1;
    width: 100%;
  }
}
